.project{
    &__title{
        text-align: center;
        margin-bottom: 50px;
        color: #2c4058;
        font-family: sans-serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &First{
        max-width: 100%;
        position: relative;
        height: 470px;
        width: 630px;
    }
    &First:hover{
        top:-30px;
    }
}