html {
  padding-top: 50px;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  text-align: center;
  background-color: #eeeeee; }
  html *,
  html *:before,
  html *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  html i, html em,
  html b, html strong,
  html span {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

*:before,
*:after {
  z-index: -1; }

h1,
h4 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1; }

a {
  text-decoration: none;
  line-height: 80px;
  color: black; }

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem; }

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left; } }

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor; }

.btn-6 {
  color: tint(red); }
  .btn-6 span {
    display: block;
    border-radius: 50%;
    background-color: shade(red, 40%);
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1; }
  .btn-6:hover {
    color: tint(red, 75%); }
  .btn-6:active {
    background-color: red; }
