.contact {
  position: absolute;
  max-width: 770px;
  max-height: 449px;
  height: 100%;
  width: 100%;
  background-color: white;
  top: -300px;
  -webkit-box-shadow: 0 -4px 30px rgba(133, 133, 133, 0.2);
  box-shadow: 0 -4px 30px rgba(133, 133, 133, 0.2);
  z-index: 50; }
  @media screen and (max-width: 1599px) {
    .contact {
      top: -300px; } }
  @media screen and (max-width: 991px) {
    .contact {
      max-width: 100%; } }
  @media screen and (max-width: 767px) {
    .contact {
      max-height: 600px;
      position: absolute;
      top: 0; } }
  .contact__wrapper {
    padding-top: 50px;
    position: relative; }
    .contact__wrapper::before {
      background: url(/dist/img/contact_background.png) no-repeat;
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      pointer-events: none;
      top: 252px;
      left: 0; }
  .contact__line {
    max-width: 100px;
    background-color: #2c4058;
    margin-bottom: 33px; }
  .contact__title {
    text-align: center;
    color: #2c4058;
    font-family: 'gothambold1';
    font-size: 44px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-left: -3px; }
    @media screen and (max-width: 575px) {
      .contact__title {
        padding: 0 15px;
        font-size: 35px; } }
  .contact__link {
    text-decoration: none;
    display: inline-block;
    margin-left: 59px;
    margin-bottom: 38px; }
    @media screen and (max-width: 767px) {
      .contact__link {
        margin: 0 0 20px 0; } }
  @media screen and (max-width: 767px) {
    .contact__link-info {
      margin-bottom: 50px; } }
  .contact__info {
    color: #2c4058;
    font-family: 'GothamBook';
    font-weight: 300;
    display: inline-block;
    letter-spacing: -1px; }
  .contact__link:nth-child(3) > .contact__info {
    letter-spacing: -1.3px; }
  .contact__icon {
    color: #7e5aff;
    font-weight: 400;
    font-size: 16px;
    padding-right: 4px; }
  .contact__link:hover .contact__icon {
    color: #2c4058; }
  .contact__link:hover .contact__info {
    color: #2c4058; }
  .contact__form {
    margin-left: 15px; }
    @media screen and (max-width: 991px) {
      .contact__form {
        margin-left: 0; } }
    @media screen and (max-width: 767px) {
      .contact__form {
        margin-bottom: 50px; } }
    @media screen and (max-width: 575px) {
      .contact__form {
        padding: 0 20px; } }
  .contact__input {
    max-width: 310px;
    border-bottom: 1px solid #2c4058;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-bottom: 16px;
    font-family: 'GothamBook';
    font-size: 18px; }
    .contact__input:focus {
      background-color: #f4f4f4; }
  .contact__input:first-child {
    margin-bottom: 37px; }
  .contact__input:nth-child(2) {
    margin-bottom: 30px; }
  .contact__input::-webkit-input-placeholder {
    color: rgba(44, 64, 88, 0.5);
    font-family: 'GothamBook'; }
  .contact__submit {
    padding: 16.5px 41.5px;
    border: 1px solid #2c4058;
    color: #2c4058;
    background-color: #fff;
    font-family: 'GothamBook';
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 170px;
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      .contact__submit {
        margin: 0 auto; } }
    .contact__submit:hover {
      color: #fff;
      background-color: #2c4058; }
